<div [class]="content">
    <div [class]="boxHead">
        <P >Клієнт відвідува:</P>
        <input [id]="buroCheck.id" type="checkbox" (change)="onCheckColor($event)" [disabled]="buroCheck.isOff" /><label [class]="srartColor" [for]="buroCheck.id">Бюро</label>
        <input [id]="frontCheck.id" type="checkbox" (click)="onCheckColor($event)" [disabled]="frontCheck.isOff"/><label [class]="srartColor" for="frontCheck.id">Фронт офіс МЦ</label>
        <input [id]="predCheck.id" type="checkbox" (click)="onCheckColor($event)" [disabled]="predCheck.isOff"/><label [class]="srartColor" for="predCheck.id">Відділ представництва</label>
        <input [id]="orgaCheck.id" type="checkbox" (click)="onCheckColor($event)" [disabled]="orgaCheck.isOff"/><label [class]="srartColor" for="orgaCheck.id">Відділ оранізації надання БВПД</label>
        <input [id]="otherCheck.id" type="checkbox" (click)="onCheckColor($event)" [disabled]="otherCheck.isOff"/><label [class]="srartColor" for="otherCheck.id">Інше керівництво</label>
    </div>
    <div [class]="infoContent">
        <h1>Анкета</h1>
        <b>з оцінювання обслуговування клієнтів центром з надання безоплатної вторинної правової допомоги</b>
        <input [id]="dayData.id" type="date" >
        <p>***</p>
    </div>
    <div [class]="punkt1.class" *ngIf="punkt1.statusBlock">
        <p>1. Чи вперше Ви звертаєтеся до нашого ценру?</p>
        <input [id]="first[0].id" type="checkbox" (click)="onCheckPunkt1($event)"/><label [for]="first[0].id">Так, вперше<span>(перехід до питання 4)</span></label>
        <input [id]="first[1].id" type="checkbox" (click)="onCheckPunkt2($event)"/><label [for]="first[1].id">Так, але раніше звертався до іншого центру системи БПД</label>
        <input [id]="first[2].id" type="checkbox"/><label [for]="first[2].id">Ні, не вперше</label>
    </div>
    <div [class]="punkt2.class" *ngIf="punkt2.statusBlock">
        <p>2. Якщо не вперше, чи Ви звертаєтеся з того свмого питання?</p>
        <input [id]="second[0].id" type="checkbox" (click)="onCheckPunkt3($event)"/><label [for]="second[0].id">Так</label>
        <input [id]="second[1].id" type="checkbox"(click)="onCheckPunkt1($event)"/><label [for]="second[1].id">Ні, маю нове питання (перехід до запитання 4)</label>
    </div>
    <div [class]="punkt3.class" *ngIf="punkt3.statusBlock">
        <p>3. Якщо ваша відповідь "так", то з чим це пов'язано:</p>
        <input [id]="third[0].id" type="checkbox"/><label [for]="third[0].id">Забув дещо / потрібно уточнити інформації</label><br>
        <input [id]="third[1].id" type="checkbox"/><label [for]="third[1].id">Потрібно принести документи</label><br>
        <input [id]="third[2].id" type="checkbox"/><label [for]="third[2].id">Мені призначено зустріч у центрі з працівником центру (фронт-лайн або відділ представництва)<span>(якщо можна, пдкресліть, з ким саме)</span></label><br>
        <input [id]="third[3].id" type="checkbox"/><label [for]="third[3].id">Мені призначено зустріч у центрі з адвокатом</label><br>
        <input [id]="third[4].id" type="checkbox"/><label [for]="third[4].id">Інше (вкажіть, будь ласка)...................................... .</label>
    </div>
    <br>
    <br>
    <div [class]="punkt4.class" *ngIf="punkt4.statusBlock" (click)="onCheckPunkt4($event)">
        <p>4. Наскільки легко Вам було потрапити до нашого ценрту?(від 1 до 10)</p>
      <ul>
        <li *ngFor="let point of fourth"><input [class]="question" type="checkbox"/>{{point}}</li>
      </ul>
    </div>
    <div [class]="punkt5.class" *ngIf="punkt5.statusBlock" (click)="onCheckPunkt5($event)">
      <p>5. Оцініть, будь ласка, якою мірою Ви загалом задоволені обслуговуванням у нашому центрі</p>
      <ul>
        <li *ngFor="let point of fifth"><input [class]="question" type="checkbox"/>{{point}}</li>
      </ul>
    </div>
    <div [class]="punkt6.class" *ngIf="punkt6.statusBlock">
        <p>6. Чи було для Вас корисним відвідуванні центру?(від 1 до 10)</p>
      <ul>
        <li *ngFor="let point of sixth"><input [class]="question" type="checkbox"/>{{point}}</li>
      </ul>
    </div>

</div>
