.allContent {
  position:relative;
  margin: 0;
  padding: 0;
  width: 95%;
}
.headInfo  {
  position: relative;
  float: right;
  width: 60%;
  font-size: 12pt;
}
.blockFoto {
  display: block;
  position: absolute;
  width: 150px;
  height: 200px;
  right: 0;
  top: 50px;
  border: 1px solid black;
}
.centr {
  position: relative;
  display: block;
  width: 50%;
  margin: 10px auto;
}
input {
  min-width: 90%;
  border: solid 1px #f2f2f2;
  border-bottom : solid 1px black;
  font-size: 14pt;
}
.centr p {
  font-size: 12pt;
  margin: 2px;
}
.centr h1 {
  margin: 0 auto;
  text-align: center;
}
.centr span {
  display: block;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}
.message {
  display: block;
  position: relative;
  width: 50%;
  float: left;
  font-size: 14pt;
  margin: 10px;
}
.anketaInfo{
  position: relative;
  margin: 10px auto;
}
.left{
float: left;
}
.right {
  float: right;
}
.w_50 {
  position: relative;
  width: 50%;
}
.numBox {
  position: relative;
  display: inline-block;
  width: 40px;
  background-color: black;
}
.numBox p {
  color: white;
  font-size: 16pt;
  text-align: center;
  margin: 8px auto;
}
.text {
  display: inline-block;
  width: 200px;
  min-height: 39px;
  background-color: #b6b6b6;
  border: 1px solid #787878;
}
.text p {
  font-size: 14pt;
  color: black;
  text-align: right;
  margin: 9px 4px 0 0;
}
