.allContent {
  position:relative;
  margin: 10px auto;
  padding: 0;
  width: 1280px;
  box-sizing: border-box;
}
.headInfo  {
  position: relative;
  float: right;
  width: 60%;
  font-size: 12pt;
}
.blockFoto {
  display: block;
  position: absolute;
  width: 150px;
  height: 200px;
  right: 0;
  top: 50px;
  border: 1px solid black;
}
.centr {
  position: relative;
  width: 50%;
  margin: 10px auto;
}
.centr input {
  min-width: 90%;
  border:#f2f2f2;
  border-bottom : 1px solid black;
  font-size: 14pt;
}
.centr p {
  font-size: 12pt;
  margin: 2px;
}
.centr h1 {
  margin: 0 auto;
  text-align: center;
}
.centr span {
  display: block;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}
.message {
  display: block;
  position: relative;
  width: 50%;
  font-size: 14pt;
  margin: 10px;
}
.w_50 {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  margin: 10px 0;
}
.left{
  float: left;
}
.right {
  float: right;
}
.clearright {
  clear: right;
}
.clearleft {
  clear: left;
}
.text {
  display: inline-block;
  width: 50%;
  height: 40px;
  background-color: #b6b6b6;
  border: 1px solid #787878;
  text-align: right;
}
.text span {
  position: relative;
  top: 45%;
  font-size: 14pt;
  margin-right: 5px;
}
.w_auto span {
  display: inline-block;
  top: 0;
  margin: 0 15%;
  float: left;
  font-weight: bold;
}
.numBox {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 16pt;
  text-align: center;
  margin: 0;
}
.dataInput {
  position: relative;
  display: inline-block;
  width: 47%;
  height: 40px;
  margin: 0;
}
.dataInput input {
  position: relative;
  top: 40%;
  width: 90%;
  border: #f2f2f2;
  border-bottom: solid 1px black;
  font-size: 14pt;
  margin-left: 5px;
  outline-style: none;
}
.h_80 span, .h_120 span, .h_200 span {
  top: 0;
  margin-top: 10px;
  -webkit-writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
}
.h_80 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 82px;
  text-align: center;
}
.h_120 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 124px;
  margin: 0;
  text-align: center;
}
.h_200 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 208px;
  margin: 0;
  text-align: center;
}
.w_30 {
  position: relative;
  display: block;
  width: 30%;
}
.w_20 {
  position: relative;
  display: block;
  width: 20%;
}
.w_auto {
  position: relative;
  display: block;
  width: auto;
}

