<div class="allContent">
  <p class="headInfo ">Додаток 13 до пункту 26 Порядку провадження за заявами про оформлення паспортів громадянина України для виїзду за кордоном і проїзних документів дитини.</p>
  <div class="blockFoto">
    <img src="#" alt="foto">
  </div>
  <div class="centr">
    <label for="nameUnit"></label><input id="nameUnit" type="text"/>{{nameUnit}}
    <p>(найменування підрозділу  служби громадянства, іміграції та реєстрації фізичних осіб)</p>
    <h1>АНКЕТА</h1>
    <span>отримувача паспорта громадянина України для виїзду за кордон</span>
  </div>
  <p class="message">Сповіщаю, що підстав, які відповідно до стаття 6Закону України "Про порядок виїзду з України і в'їзду в Україну громадян України" обмежують моє право на виїзд за кордон, немає.</p>
    <div class="box left w_50">
        <div class="numBox"><p>1</p></div>
        <div class="text"><p>Прізвище</p></div>
        <label for="firstName"></label><input id="firstName" type="text">
        <div>ім'я та по батькові</div>
        <input id="lastName" type="text">
        <div><span>Колишні</span></div>
          <div>Прізвище</div>
        <label for="firstNameOld"></label><input id="firstNameOld" type="text">
        <div>ім'я та по батькові></div>
        <label for="secondtNameOld"></label><input id="secondtNameOld" type="text">
    </div>

</div>
