<div class="Allcontent">
  <p id="head">Додаток 13 до пункту 26 Порядку провадження за заявами про оформлення паспортів громадянина України для виїзду за кордоном і проїзних документів дитини.</p>
  <div class="blockFoto">
    <img src="#" alt="foto">
  </div>
  <div class="left50 text">
    <label for="nameUnit"></label><input id="nameUnit" type="text"/>{{nameUnit}}
    <p>(найменування підрозділу  служби громадянства, іміграції та реєстрації фізичних осіб)</p>
    <h1>АНКЕТА</h1>
    <span>отримувача паспорта громадянина України для виїзду за кордон</span>
  </div>
  <p class="message">Сповіщаю, що підстав, які відповідно до стаття 6Закону України "Про порядок виїзду з України і в'їзду в Україну громадян України" обмежують моє право на виїзд за кордон, немає.</p>
  <div class="tabl fio">

  </div>

</div>
